@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* Seek bar styles */
.seek-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #fbbf24; /* Tailwind yellow-400 */
    z-index: 1000;
    transition: width 0.2s;
}
